div.container{
    display: flex;
    position: absolute;
    top: 20%;
    left: 10%;
    height: 100%;
    width: 80%;
    background-color: aqua;
}
form.formlogin{
    display: flex;
    position: absolute;
    top: 10%;
    left: 5%;
    height: 60%;
    width: 35%;
    background-color: gray;
    border-radius: 30px;
    box-shadow: 3px 3px 3px black;
}
label.signup1{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 20%;
    left: 0%;
    width: 49.5%;
    height: 10%;
    background-color: rgb(82, 82, 82);
    border: 1px solid black;
    border-left: none;
    
}
label.login1{
    cursor: pointer;
    display: flex;
    background-color: rgb(0, 142, 7);
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-right: none;
    top: 20%;
    right: 0%;
    width: 49.5%;
    height: 10%;
}
label.newaccount1{
    display: flex;
    position: absolute;
    top: 32%;
    text-shadow: 3px 3px 3px black;
    cursor: pointer;
    right: 5%;
    color: rgb(255, 149, 0);
    justify-content: right;
    height: 5%;
    width: 80%;
    /* background-color: aqua; */
}
label.email1{
    display: flex;
    position: absolute;
    top: 41%;
    height: 9%;
    color: white;
    text-shadow: -2px 5px 5px black;
    font-size: 25px;
    min-width: 88%;
    /* padding-left: 5%; */
    left: 6%;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rgb(163, 22, 22); */
}
input.email1{
    display: flex;
    position: absolute;
    top: 51%;
    height: 9%;
    font-size: 1vw;
    width: 90%;
    /* padding-left: 5%; */
    left: 5%;
    /* justify-content: center; */
    border: 1px sloid black;
    border-radius: 10px;
    box-shadow: 1px 3px 3px rgb(0, 0, 0);
    align-items: center;
    background-color: rgb(105, 105, 105);
}
label#erroremail{
    display: none;
    position: absolute;
    top: 47%;
    font-size: smaller;
    color: red;
    height: 3%;
    justify-content: right;
    text-shadow: 3px 3px 3px white;
    left: 4%;
    min-width: 25%;
    /* background-color: aquamarine; */
}
label#errorpassword{
    display: none;
    position: absolute;
    text-shadow: 3px 3px 3px white;
    top: 67%;
    color: red;
    left: 6%;
    min-width: 30%;
    height: 3%;
    font-size: smaller;
    /* background-color: aquamarine; */
}
label.password1{
    display: flex;
    position: absolute;
    color: white;
    text-shadow: -2px 5px 5px black;
    top: 61%;
    height: 9%;
    font-size: 25px;
    width: 88%;
    /* padding-left: 5%; */
    left: 6%;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rgb(163, 22, 22); */
}
input.password1{
    display: flex;
    position: absolute;
    top: 71%;
    box-shadow: 1px 3px 3px rgb(0, 0, 0);
    height: 9%;
    font-size: 1vw;
    width: 90%;
    /* padding-left: 5%; */
    left: 5%;
    /* justify-content: center; */
    border: 1px sloid black;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(105, 105, 105);
}
label.button1{
    display: flex;
    position: absolute;
    top: 83%;
    left: 30%;
    border-radius: 15px;
    height: 12%;
    width: 40%;
    box-shadow: 1px 3px 3px black;
    background-color: blue;
    color: white;
    align-items: center;
    z-index: 3;
    justify-content: center;
    cursor: pointer;
}
label.button1:hover{
    background-color: brown;
    box-shadow: 1px 3px 3px white;
    color: white;
}
::placeholder{
    color: rgb(0, 0, 0);
}
a.login{
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    justify-content: center;
    align-items: center;
    color: white;
    /* height: 100%;
    width: 100%; */
    text-shadow: 2px 2px 3px black;
}
a.login:hover{
    text-decoration: none;
    color: inherit;
    z-index: -1;
}
form.formsignup{
    display: none;
    position: absolute;
    top: 10%;
    left: 5%;
    height: 90%;
    width: 35%;
    background-color: rgba(0, 229, 255, 0.771);
    border-radius: 30px;
    box-shadow: 3px 3px 3px black;
}label.signup2{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 0%;
    left: 0%;
    width: 49.5%;
    border-radius: 30px 0px 0px 0px;
    height: 10%;
    background-color: rgb(0, 142, 7);
    border: 1px solid black;
    border-left: none;
    
} 
label.login2{
    cursor: pointer;
    display: flex;
    background-color: rgb(82, 82, 82);
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-right: none;
    border-radius: 0px 30px 0px 0px;
    top: 0%;
    right: 0%;
    width: 49.5%;
    height: 10%;
}
label.username{
    display: flex;
    position: absolute;
    top: 17%;
    font-size: 20px;
    left: 5%;
    height: 3%;
    width: 90%;
    /* background-color: aqua; */
}
input.username{
    display: flex;
    position: absolute;
    top: 21%;
    border-radius: 10px;
    height: 5%;
    background-color: gray;
    left: 4%;
    width: 92%;
    border: 1px solid black;
}
label.fathername{
    display: flex;
    position: absolute;
    top: 29%;
    font-size: 20px;
    left: 5%;
    height: 3%;
    width: 90%;
    /* background-color: aqua; */
}
input.fathername{
    display: flex;
    position: absolute;
    top: 33%;
    border-radius: 10px;
    height: 5%;
    background-color: gray;
    left: 4%;
    width: 92%;
    border: 1px solid black;
}
label.age{
    display: flex;
    position: absolute;
    min-width: 30%;
    top: 40%;
    height: 3%;
    font-size: 20px;
    left: 5%;
    /* background-color: rgb(255, 255, 0); */
}
select.age{
    display: flex;
    position: absolute;
    min-width: 30%;
    top: 39%;
    height: 5%;
    font-size: 2vw;
    right: 5%;
    /* background-color: rgb(255, 255, 0); */
}
label.gender{
    display: flex;
    position: absolute;
    min-width: 30%;
    top: 46%;
    height: 5%;
    font-size: 20px;
    left: 5%;
    /* background-color: rgb(255, 255, 0); */
}
div.radiogender{
    display: flex;
    position: absolute;
    min-width: 55%;
    top: 45%;
    height: 5%;
    font-size: 2vw;
    right: 5%;
    /* background-color: rgb(255, 255, 0); */
}
input.male{
    display: flex;
    position: absolute;
    width: 6%;
    top: 15%;
    height: 50%;
    /* font-size: 2vw; */
    left: 0%;
    /* background-color: rgb(0, 0, 0); */
}
label.male{
    display: flex;
    position: absolute;
    min-width: 23%;
    top: 5%;
    align-items: center;
    height: 90%;
    font-size: 15px;
    left: 9%;
    /* background-color: rgb(35, 35, 1); */
}
input.female{
    display: flex;
    position: absolute;
    width: 6%;
    top: 15%;
    height: 50%;
    font-size: 2vw;
    left: 33%;
    /* background-color: rgb(0, 0, 0); */
}
label.female{
    display: flex;
    position: absolute;
    min-width: 23%;
    top: 5%;
    align-items: center;
    height: 90%;
    font-size: 15px;
    left: 41%;
    /* background-color: rgb(35, 35, 1); */
}
input.other{
    display: flex;
    position: absolute;
    width: 6%;
    top: 15%;
    height: 50%;
    font-size: 2vw;
    left: 63%;
    /* background-color: rgb(0, 0, 0); */
}
label.other{
    display: flex;
    position: absolute;
    min-width: 23%;
    top: 5%;
    align-items: center;
    height: 90%;
    font-size: 15px;
    left: 73%;
    /* background-color: rgb(35, 35, 1); */
}
label.emailsignup{
    display: flex;
    position: absolute;
    top: 52%;
    font-size: 22px;
    left: 5%;
    height: 5%;
    width: 90%;
    /* background-color: aqua; */
}
input.emailsignup{
    display: flex;
    position: absolute;
    top: 57%;
    border-radius: 10px;
    height: 5%;
    background-color: gray;
    left: 4%;
    width: 92%;
    border: 1px solid black;
}
label.passwordsignup{
    display: flex;
    position: absolute;
    top: 63%;
    font-size: 22px;
    left: 5%;
    height: 5%;
    width: 90%;
    /* background-color: aqua; */
}
input.passwordsignup{
    display: flex;
    position: absolute;
    top: 68%;
    border-radius: 10px;
    height: 5%;
    background-color: gray;
    left: 4%;
    width: 92%;
    border: 1px solid black;
}
label.buttonsignup{
    display: flex;
    position: absolute;
    top: 80%;
    left: 25%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 50%;
    cursor: pointer;
    font-size: large;
    color: wheat;
    background-color: blue;
}
label.buttonsignup:hover{
    background-color: brown;
    box-shadow: 1px 3px 3px white;
    color: white;   
}



        /* Break Point Media Queries */

@media only screen and (min-width:300px) and (max-width:449px){
    div.container{
        width: 80%;
        left: 10%;
        top: 15%;
        height: 120%;
    }
    form.formlogin{
        top: 30%;
        height: 45%;
        left: 10%;
        width: 80%;
    }
    label.button1{
        top: 85%;
    }
    label.newaccount1{
        font-size: 15px;
    }
    form.formsignup{
        top: 20%;
        left: 10%;
        height: 65%;
        width: 80%;
    }
    label.male{
        left: 12%;
        font-size: 12px;
    }
    label.female{
        left: 45%;
        font-size: 12px;
    }
    input.other{
        left: 70%;
    }
    label.other{
        left: 83%;
        font-size: 12px;
    }
}
@media only screen and (min-width:450px) and (max-width:600px){
    div.container{
        width: 80%;
        left: 10%;
        top: 15%;
        height: 130%;
    }
    form.formlogin{
        top: 30%;
        height: 45%;
        left: 10%;
        width: 80%;
    }
    label.button1{
        top: 85%;
    }
    label.newaccount1{
        font-size: 20px;
    }
    form.formsignup{
        top: 20%;
        left: 10%;
        height: 65%;
        width: 80%;
    }
    label.male{
        font-size: 12px;
    }
    label.female{
        font-size: 12px;
    }
    label.other{
        font-size: 12px;
    }
}
@media only screen and (min-width:600px) and (max-width:700px){
    div.container{
        width: 80%;
        left: 10%;
        top: 15%;
        height: 140%;
    }
    form.formlogin{
        top: 30%;
        height: 45%;
        left: 10%;
        width: 80%;
    }
    label.button1{
        top: 85%;
    }
    label.newaccount1{
        font-size: 20px;
    }
    form.formsignup{
        top: 20%;
        left: 10%;
        height: 65%;
        width: 80%;
    }
}
@media only screen and (min-width:701px) and (max-width:800px) {
    div.container{
        width: 80%;
        left: 10%;
        top: 15%;
        height: 150%;
    }
    form.formlogin{
        top: 30%;
        height: 45%;
        left: 10%;
        width: 80%;
    }
    label.button1{
        top: 87%;
    }
    label.newaccount1{
        font-size: 20px;
    }
    form.formsignup{
        top: 20%;
        left: 10%;
        height: 65%;
        width: 80%;
    }
}




























